<div class="row">
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Команды'" [cardClass]="'review-task'">
      <div class="table-responsive">
        <dx-data-grid [dataSource]="teams"
                      (onRowPrepared)="onRowPrepared($event)"
                      (onToolbarPreparing)="onToolbarPreparing($event)"
                      (onSelectionChanged)="selectHandler.onSelectionTeamChanged($event)">
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-selection mode="single" [deferred]="true"></dxo-selection>
          <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
          <dxo-search-panel [visible]="true"
                            [width]="240"
                            placeholder="Поиск..."></dxo-search-panel>
          <dxi-column caption="Лого" [allowFiltering]="false" [allowSorting]="false" cellTemplate="imgTemplate"></dxi-column>
          <dxi-column caption="Название" dataField="title"></dxi-column>
          <dxi-column caption="Численность" dataField="count"></dxi-column>
          <dxi-column [width]="32" cellTemplate="viewTemplate"></dxi-column>
          <dxi-column [width]="32" cellTemplate="editTemplate"></dxi-column>
          <dxi-column [width]="32" cellTemplate="deleteTemplate"></dxi-column>
          <dxo-summary>
            <dxi-total-item column="count" summaryType="sum" [customizeText]="customizeSum"></dxi-total-item>
          </dxo-summary>
          <div *dxTemplate="let d of 'editTemplate'">
            <a (click)="editActionOptions.onClick(d.data)" class="dx-button edit"><span class="dx-icon-edit icon"></span></a>
          </div>
          <div *dxTemplate="let d of 'deleteTemplate'">
            <a (click)="deleteActionOptions.onClick(d.data)" class="dx-button remove"><span class="dx-icon-remove icon"></span></a>
          </div>
          <div *dxTemplate="let d of 'viewTemplate'">
            <a (click)="viewActionOptions.onClick(d.data)" class="dx-button search"><span class="dx-icon-search icon"></span></a>
          </div>
          <div *dxTemplate="let data of 'imgTemplate'">
            <img [src]="data.img" />
          </div>
        </dx-data-grid>
      </div>
    </app-card>
  </div>
</div>
<dx-popup class="popup"
          [width]="300"
          [height]="250"
          [showTitle]="true"
          title="Information"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p>
      Full Name:
      <span>{{currentEmployee.FirstName}}</span>
      <span>{{currentEmployee.LastName}}</span>
    </p>
    <p>
      Birth Date:
      <span>{{currentEmployee.BirthDate}}</span>
    </p>
    <p>
      Address:
      <span>{{currentEmployee.Address}}</span>
    </p>
    <p>
      Hire Date:
      <span>{{currentEmployee.HireDate}}</span>
    </p>
    <p>
      Position:
      <span>{{currentEmployee.Position}}</span>
    </p>
  </div>
</dx-popup>
