<div class="row">
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Сотрудники'" [cardClass]="'review-task'">
      <div class="table-responsive">
        <dx-data-grid [dataSource]="persons"
                      (onRowPrepared)="onRowPrepared($event)"
                      (onToolbarPreparing)="onToolbarPreparing($event)"
                      (onSelectionChanged)="selectHandler.onSelectionPersonChanged($event)"
                      rowTemplate="rowTemplateName">
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-selection mode="single" [deferred]="true"></dxo-selection>
          <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
          <dxo-search-panel [visible]="true"
                            [width]="240"
                            placeholder="Поиск..."></dxo-search-panel>
          <dxi-column caption="Фото" [allowFiltering]="false" [allowSorting]="false" cellTemplate="imgTemplate"></dxi-column>
          <dxi-column caption="ФИО" dataField="fio"></dxi-column>
          <dxi-column caption="Команда" dataField="team"></dxi-column>
          <dxi-column caption="День рождения" dataField="birthDate"></dxi-column>
          <dxi-column caption="Прием" dataField="hireDate"></dxi-column>
          <dxi-column caption="Стаж" dataField="experience"></dxi-column>
          <dxi-column caption="Увольнение" dataField="img"></dxi-column>
          <dxi-column [width]="32" cellTemplate="viewTemplate"></dxi-column>
          <dxi-column [width]="32" cellTemplate="editTemplate"></dxi-column>
          <dxi-column [width]="32" cellTemplate="deleteTemplate"></dxi-column>
          <dxo-summary>
            <dxi-total-item column="count" summaryType="sum" [customizeText]="customizeSum"></dxi-total-item>
          </dxo-summary>
          <div *dxTemplate="let d of 'editTemplate'">
            <a (click)="editActionOptions.onClick(d.data)" class="dx-button edit"><span class="dx-icon-edit icon"></span></a>
          </div>
          <div *dxTemplate="let d of 'deleteTemplate'">
            <a (click)="deleteActionOptions.onClick(d.data)" class="dx-button remove"><span class="dx-icon-remove icon"></span></a>
          </div>
          <div *dxTemplate="let d of 'viewTemplate'">
            <a (click)="viewActionOptions.onClick(d.data)" class="dx-button search"><span class="dx-icon-search icon"></span></a>
          </div>
          <div *dxTemplate="let data of 'imgTemplate'">
            <img [src]="data.img" />
          </div>
        </dx-data-grid>
      </div>
    </app-card>
  </div>
</div>
<dx-load-panel #loadPanel
               shadingColor="rgba(0,0,0,0.4)"
               [(visible)]="loadingVisible"
               [showIndicator]="true"
               [showPane]="true"
               [shading]="true"
               [closeOnOutsideClick]="true">
</dx-load-panel>
<dx-popup class="popup"
          [width]="300"
          [height]="400"
          [showTitle]="true"
          title="Confirm deleting"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisibleDelete">
  <div *dxTemplate="let data of 'content'">
    <p>
      Person:
      <span>{{person.fio}}</span>
    </p>
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-value">
          <dx-button [text]="cancelDeleteButtonOptions.text" [type]="cancelDeleteButtonOptions.type" (onClick)="cancelDeleteButtonOptions.onClick()"></dx-button>
        </div>
        <div class="dx-field-value">
          <dx-button [text]="deleteButtonOptions.text" [type]="deleteButtonOptions.type" (onClick)="deleteButtonOptions.onClick()"></dx-button>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
<dx-popup class="popup"
          [width]="600"
          [height]="500"
          [showTitle]="true"
          title="Add/Edit person"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisibleAdd">
  <div *dxTemplate="let data of 'content'">
    <div id="form-container">
      <dx-form id="form"
               [colCount]="1"
               [formData]="person">
        <dxi-item dataField="id" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="firstName"></dxi-item>
        <dxi-item dataField="middleName"></dxi-item>
        <dxi-item dataField="lastName"></dxi-item>
        <dxi-item dataField="teamId" editorType="dxSelectBox" [editorOptions]="{ items: teams,valueExpr:'id',displayExpr:'name', value:person.teamId }"></dxi-item>
        <dxi-item dataField="positionId" editorType="dxSelectBox" [editorOptions]="{ items: positions,valueExpr:'id',displayExpr:'name' value:person.positionId}"></dxi-item>
      </dx-form>
    </div>
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-value">
          <dx-button [text]="cancelSaveButtonOptions.text" [type]="cancelSaveButtonOptions.type" (onClick)="cancelSaveButtonOptions.onClick()"></dx-button>
        </div>
        <div class="dx-field-value">
          <dx-button [text]="saveButtonOptions.text" [type]="saveButtonOptions.type" (onClick)="saveButtonOptions.onClick()"></dx-button>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
